/* app css stylesheet */

body {
  background-color: #ebfafa;
}

.navbar-default{
    background: none;
    border: none;
}
.navbar-brand{
  position: relative;
}
.active{
  background-color: #CCFF99;
}

.gifts {
  list-style: none;
  background-color: 
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  padding-top: 1em;
  height: 200px;
  width: 200px;
}

.gifts li {
  clear: both;
  height: 180px;
  padding-top: 5px;
  text-align: center;
}
.button {
  background-color: #e5ffff;
}
.jumbotron {
  background-color: #ebfafa;
}
.gm-map {
    display: block;
    width: 100%;
    height: 300px;
}
.songs  {
    list-style: none;
    background-color:
}

.submit-form {
    text-align: center;
    padding: 20px;
}

.logout-button {
    float:right;
}