<div class="logo">
    <img class="img-responsive center-block" src="../img/gifts/Contact_Title.png">
    <div>
        <div>


            <nav class="navbar navbar-default">
                <div class="container-fluid text-center">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#/home">HOME</a></li>
                            <li><a href="#/event">EVENT DETAILS</a></li>
                            <li><a href="#/registry">REGISTRY</a></li>
                            <li><a href="#/contact">CONTACT US</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div>
                <img class="img-responsive center-block" src="../img/gifts/Contact_Photo.png">
            </div>

            <div>
                <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design.png">
            </div>

            <div class="container" id="description">
                <h3 class="text-center"> Contact us at <a href="mailto:maddieandshaine@gmail.com ">maddieandshaine@gmail.com </a></h3>
            </div>

            <div>
                <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design2.png">
            </div>