<div class="logo">
  <img class="img-responsive center-block" src="../img/gifts/Event_Details_Title.png">
  <div>
    <div>


      <nav class="navbar navbar-default">
        <div class="container-fluid text-center">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#/home">HOME</a></li>
              <li><a href="#/event">EVENT DETAILS</a></li>
              <li><a href="#/registry">REGISTRY</a></li>
              <li><a href="#/contact">CONTACT US</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div>
        <img class="img-responsive center-block" src="../img/gifts/Event_Details_Photo_1.png">
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design.png">
      </div>
      <div class="text-center" id="details">
        <h4>3:00 PM ON JUNE 2ND, 2016</h4>
        <h4>CHRIST THE KING CATHOLIC CHURCH</h4>
        <h4>4291 EVERGREEN PKWY ACCESS RD, EVERGREEN, CO 80439</h4>
        <h4><a href="https://www.google.com/maps/place/Christ+the+King+Catholic+Church/@39.6383333,-105.3325,15z/data=!4m2!3m1!1s0x0:0x96375d114ffbe6c3?sa=X&ved=0ahUKEwignILLwtXLAhUKv4MKHXO9CNwQ_BIIcjAK">MAP</a></h4>
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design2.png">
      </div>

      <div>
        <img class="img-responsive center-block" src="../img/gifts/Event_Details_Photo_2.png">
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design.png">
      </div>
      <div class="text-center" id="details">
        <h4>5:00 PM ON JUNE 2ND, 2016</h4>
        <h4>THE WILLOWS PAVILION AT LOWER LAKE RANCH</h4>
        <h4>11853 S. ELK CREEK RD, PINE , CO 80470</h4>
        <h4><a href="https://www.google.com/maps/dir/''/THE+WILLOWS+PAVILION+AT+LOWER+LAKE+RANCH+11853+S.+ELK+CREEK+RD,+PINE+,+CO+80470/@39.4969067,-105.4651384,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x876b6c2d4f0ec1c5:0xe75a99d105414ad4!2m2!1d-105.3950984!2d39.4969277">MAP</a></h4>
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design2.png">
      </div>