<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- creating a navbar header with a home icon -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	    <a class="navbar-brand" href="#/gifts">M&S</a>
      <a class="navbar-brand" href="#/gifts"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#/song">Song Request</a></li>
        <li><a href="#/reception">Reception Info</a></li>
        <li><a href="#/lodging">Lodging</a></li>
    </ul>
  </div>
  </div><!-- /.container-fluid -->
</nav> 

<body>
  <div class="jumbotron text-center">
    <h1>Church and Reception</h1>
    <h3>Christ the King Church</h3>
    <br></br>

  <gm-map options="{center: [37.772323, -122.214897], zoom: 4, mapTypeId: google.maps.MapTypeId.ROADMAP}">
  <gm-marker options="{position:  [40.750, -73], draggable: true}"></gm-marker>
</gm-map>

    <h3>Lower Lake Ranch</h3>
  </div>

</body>