<div class="logo">
  <img class="img-responsive center-block" src="../img/gifts/Registry_Title.png">
  </div>


      <nav class="navbar navbar-default">
        <div class="container-fluid text-center">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#/home">HOME</a></li>
              <li><a href="#/event">EVENT DETAILS</a></li>
              <li><a href="#/registry">REGISTRY</a></li>
              <li><a href="#/contact">CONTACT US</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div>
        <img class="img-responsive center-block" src="../img/gifts/Registry_Photo.png">
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design.png">
      </div>

      <div class="container" id="description">
        <h3 class="text-center"> Yikes! You beat us to the punch… Our registry items will be coming soon! </h3>
      </div>

    <form class="submit-form" ng-if="user.password" ng-submit="post()">
      <input placeholder="Price", ng-model="product.price">
      <input placeholder="Id", ng-model="product.id">
      <input placeholder="Image URL", ng-model="product.imageUrl">
      <input placeholder="Description", ng-model="product.description">
      <input type="submit">
    </form>

      <!--Body content-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="gifts">
        <li ng-repeat="gift in gifts" class="thumbnail" >
          <a href="#/gifts/{{gift.id}}" class="thumb"><img ng-src="{{gift.imageUrl}}"></a>
          <a href="#/gifts/{{gift.id}}"><h3>{{gift.id}}</a> ${{gift.price}}</h3>
          <p>{{gift.description}}</p>

          <!--TODO Add Stripe API-->
          <form action="" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1kGfCqltwJC8xEyFDaPLGxn3"
                    data-amount="{{priceInCents}}"
                    data-name="{{gift.id}}"
                    data-description="${{gift.price}}"
                    data-image="../img/gifts/trees.png"
                    data-locale="auto">
            </script>
          </form>

          <button class="logout-button btn btn-primary btn-sm" ng-if="user.password", type="button" ng-click="delete(gift, $index)">Delete Entry</button>
        </li>
      </ul>


    <button ng-if="user.password" ng-click="logout()">Logout</button>

</div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design2.png">
      </div>