<div class="logo">
  <img class="img-responsive center-block" src="../img/gifts/Registry_Title.png">
  </div>


      <nav class="navbar navbar-default">
        <div class="container-fluid text-center">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#/home">HOME</a></li>
              <li><a href="#/event">EVENT DETAILS</a></li>
              <li><a href="#/registry">REGISTRY</a></li>
              <li><a href="#/contact">CONTACT US</a></li>
                <li><a href="" ng-if="user.password" ng-click="logout()">Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div>
        <img class="img-responsive center-block" src="../img/gifts/Registry_Photo.png">
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design.png">
      </div>

      <div class="container" id="description">
        <h3 class="text-center"> Yikes! You beat us to the punch… Our registry items will be coming soon! </h3>
      </div>

      <div>
        <img id="squiggles" class="img-responsive center-block" src="../img/gifts/Design2.png">
      </div>

    <form class="submit-form" ng-if="user.password" ng-submit="post()">
        <input placeholder="Price", ng-model="product.price">
        <input placeholder="Id", ng-model="product.id">
        <input placeholder="Image URL", ng-model="product.imageUrl">
        <input placeholder="Description", ng-model="product.description">
        <input type="submit">
    </form>

    <!--Body content-->

    <ul class="gifts container-fluid">
        <li ng-repeat="gift in gifts" class="thumbnail" id="giftContainer">
            <img class="thumb" ng-src="{{gift.imageUrl}}">
            <h3>{{gift.id}}</a> ${{gift.price}}</h3>
            <p>{{gift.description}}</p>

            <button class="logout-button btn btn-primary btn-sm" ng-if="user.password" type="button" ng-click="delete(gift, $index)">Delete Entry</button>

            <script src="https://checkout.stripe.com/checkout.js"></script>

            <button id="customButton">Purchase</button>

            <script>
                var handler = StripeCheckout.configure({
                    key: 'pk_test_1kGfCqltwJC8xEyFDaPLGxn3',
                    image: '/img/documentation/checkout/marketplace.png',
                    locale: 'auto',
                    token: function(token) {
                        // Use the token to create the charge with a server-side script.
                        // You can access the token ID with `token.id`
                    }
                });

                $('#customButton').on('click', function(e) {
                    // Open Checkout with further options
                    handler.open({
                        name: 'Maddieandshaine',
                        description: '2 widgets',
                        amount: 2000
                    });
                    e.preventDefault();
                });

                // Close Checkout on page navigation
                $(window).on('popstate', function() {
                    handler.close();
                });
            </script>
        </li>
    </ul>

<!--<input type="text" ng-model="card.number" cc-number cc-type="cardType" placeholder="Credit Card" />-->
<!--<input type="text" ng-model="card.cvc" cc-cvc placeholder="CVC"/>-->
<!--<div cc-exp>-->
    <!--<input ng-model="card.exp_month" cc-exp-month placeholder="Exp. month" />-->
    <!--<input ng-model="card.exp_year" cc-exp-year placeholder="Exp. year" />-->
<!--</div>-->